<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <p>Something went wrong... Did I, the developer, mess up? No, it is you who is wrong.</p>
        <img src="https://www.choosingwisdom.org/wp-content/uploads/2019/10/Shame.jpg" width="500"><br>
        {{message}}<br>
        {{>footer}}
    </body>
</html>